:root {
  --black: #050505;
  --lowOpacityBlack: rgba(5,5,5,0.5);
  --white: #ffffff;
  --blue: #2274a5;
  --yellow: #eac435;
  --plum: #950952;
  --mainFont: 'Titan One', cursive;
  --secondaryFont: Arial, sans-serif;
}
* {
	font-family: var(--mainFont);
}
#overlay, .winner {
	z-index: 25;
	position: fixed;
	top: 0;
	left: 0;
	background: var(--lowOpacityBlack);
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

#congratulations, #playButton {
  text-align: center;
  display: grid;
  width: 75vw;
  max-width: 500px;
  height: 60vh;
  border-radius: 10px;
  padding: 5%;
	background: var(--white);
	color: var(--blue);
  font-size: 18px;
  box-shadow: 2px 2px 5px 5px var(--black);
}
#youWon {
  font-size: 25px;
}
#playButton {
	font-size: 50px;
}
#play {
	font-size: 70px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	color: var(--plum);
	box-shadow: 2px 2px 5px 5px var(--black);
	margin: 0 auto;
	cursor: pointer;
}
#clickToPlay {
	margin: 10px;
	font-size: 20px;
}
#gameButtons, #cardsContainer {
	width: 85%;
	max-width: 550px;
	padding: 20px;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;

}
#gameButtons {
	background: var(--plum);
	height: auto;
	font-size: 20px;
	flex-wrap: wrap;
	align-items: center;
	border-radius: 10px 10px 0 0;
}
#gameButtons p {
	font-size: 20px;
	width: 100%;
	text-align: center;
	color: var(--white);
	margin: 0;
	padding: 0;
	z-index: 10;
}
#moves, #timer, #reset {
	background: var(--white);
	color: var(--black);
	padding: 0%;
	height: auto;
	width: 45%;
	border-radius: 10px;
	text-align: center;
}
.stars, .winStars {
	height: 80px;
	color: var(--yellow);
	text-align: center;
	font-size: 50px;
	text-shadow: 2px 2px 10px rgba(5,5,5,0.6);
}
.stars {
	width: 45%;
}
#playAgain, #reset {
  border-radius: 30px;
  font-size: 20px;
  background: var(--plum);
  color: var(--white);
  cursor: pointer;
  text-shadow: 2px 2px 10px var(--lowOpacityBlack);
}
.noDisplay {
	display: none !important;
}
.displayBlock {
	display: block;
}
#reset {
	cursor: pointer;
	font-size: 18px;
	border: 1px solid black;
	height: 25px;
	box-shadow: 2px 2px 10px var(--lowOpacityBlack);
	background: var(--blue);
	padding: 1.5%;
}
#reset:click {
	box-shadow: 0 0 0 var(--lowOpacityBlack);
}
#cardsContainer {
	background: var(--blue);
	border-radius: 0 0 10px 10px;
	height: 70vh;
	max-height: 500px;
	z-index: -10;
}
.stopClick {
	position: fixed;
	opacity: 0.2;
	z-index: 1;
	width: 100vw;
	height: 100vh;
	margin: 0;
	top: 0;
	left: 0;
}

.row {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.cardBack {
	position: relative;
	color: white;
	background: url(../images/back.png);
	background-size: cover;
	backface-visibility: hidden;
	transform: rotateY(0deg);
	transition: transform 1s;
}
.backFlipped {
	transform: rotateY(-180deg);
	transition: transform 1s, backface-visibility 1s;
    backface-visibility: hidden;

}
.cardFront {
	position: relative;
	background-size: cover;
	color: white;
	transform: rotateY(180deg);
	top: -62px;
	left: 0;
	backface-visibility: hidden;
	transition: transform 1s;
}
.frontFlipped {
	transform: rotateY(0deg);
	backface-visibility: hidden;
	transition: transform 1s;
}
/* C A R D   I M A G E S*/
.card1{
	background: url(../images/front1.png);
	background-size: cover;
}
.card2{
	background: url(../images/front2.png);
	background-size: cover;
}
.card3{
	background: url(../images/front3.png);
	background-size: cover;
}
.card4{
	background: url(../images/front4.png);
	background-size: cover;
}
.card5{
	background: url(../images/front5.png);
	background-size: cover;
}
.card6{
	background: url(../images/front6.png);
	background-size: cover;
}
.card7{
	background: url(../images/front7.png);
	background-size: cover;
}
.card8{
	background: url(../images/front8.png);
	background-size: cover;
}
/* C A R D    S I Z E */
.cardFront, .cardBack, .card {
	height: 62px;
	width: 62px;
}
.card {
	perspective: 1000px;
}


/* M E D I A    Q U E R I E S */
@media screen and (min-width: 450px) {
	.cardFront, .cardBack, .card {
		height: 80px;
		width: 80px;
	}
	.cardFront {
		top: -80px;
	}
	#gameButtons p {
		font-size: 30px;
	}
}
@media screen and (min-width: 600px) {
	.cardFront, .cardBack, .card {
		height: 100px;
		width: 100px;
	}
	.cardFront {
		top: -100px;
	}
	#moves, #timer, #reset {
		width: 25%;
	}
/*	#gameButtons {
		margin-top: 5vh;
	}*/
	#gameButtons p {
		font-size: 40px;
	}

}